@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  
  
}

.content-container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;
  margin-top: 5%;
}

.card1 {
  display: flex;
  flex-direction: column;
  background-color: #edf9;
  width: 300px;
  height: 430px;
  padding: 10px;
  justify-content: space-around;
  text-align: center;
}



#hero {
  width: 300px;
  height: auto;
}

input[type=email] {
    padding: 10px;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 5px;
    width: 90%;   
}

.provide-email {
    
    text-align: center;
}

.provide-email span {
    margin-top: 15px;
    cursor: pointer;
    
}


.our-store {

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  
  
  margin-top: 100px;
  font-family: "Montserrat" , sans-serif;
  font-size: large;
  width: 300px;
  height: auto;
  padding : 10px;
  margin: 10px;
  background-color: lightcyan;

}

.our-store h2 {
  border-bottom: solid #edf9 10px;
  border-bottom-style: double;

}








@media only screen and (max-width: 625px) {

    .card1 {
        height: 420px
    }
    .our-store {
      margin-bottom: 20px;
    }

}
